@use "../../../shared/styles/units.module";
@use "../../../shared/styles/breakpoints.module";

.card {
  @include breakpoints.screen-xs {
    width: 100%;
    min-width: 0;
  }
  @include breakpoints.screen-xl {
    min-width: 400px;
    width: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: units.$unit;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: units.$unit;
}

.middle_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no_categories {
  padding: 8px;
  position: relative;
}
