@use "../../styles/sidebar.module";
@use "../../styles/breakpoints.module";
@use "../../styles/colors.module";
@use "../../styles/units.module";

.sidebar {
  padding: calc(units.$unit * 4) 0;

  position: fixed;
  width: sidebar.$width;
  height: sidebar.$height;

  display: flex;
  flex-direction: column;
  gap: calc(units.$unit * 4);

  box-shadow: 0 0 64px rgba(0, 0, 0, 0.25);

  background: colors.$surface;

  overflow: hidden;

  @include breakpoints.screen-xs {
    position: static;
    animation: show_sidebar linear forwards 0.64s;
  }
  @include breakpoints.screen-xl {
    position: fixed;
    animation: none;
  }
}

.sidebar__hidden {
  @include breakpoints.screen-xs {
    animation: hide_sidebar linear forwards 0.64s;
  }
  @include breakpoints.screen-xl {
    animation: none;
  }
}

@keyframes hide_sidebar {
  0% {
    width: sidebar.$width;
  }
  50% {
    width: 0px;
  }
  100% {
    width: 0;
    display: none;
  }
}

@keyframes show_sidebar {
  0% {
    display: none;
    width: 0px;
    background: none;
  }
  50% {
    display: block;
    background: colors.$surface;
  }
  100% {
    width: sidebar.$width;
  }
}

.sidebar_block {
  padding: 0 0 0 calc(units.$unit * 2);
}

.sidebar_block__middle {
  display: flex;
  flex-direction: column;
  gap: calc(units.$unit * 4);
}
