@use "../../shared/styles/colors.module";
@use "../../shared/styles/breakpoints.module";
@use "../../shared/styles/sidebar.module";
@use "../../shared/styles/container.module";
@use "../../shared/styles/units.module";
@use "../../shared/styles/header.module";

.app {
  background: colors.$background;

  @include breakpoints.screen-xs {
    display: block;
  }
  @include breakpoints.screen-xl {
    display: flex;
  }
}

.app_content_wrap {
  width: 100%;

  @include breakpoints.screen-xs {
    padding-left: 0;
    padding-right: 0;
  }
  @include breakpoints.screen-xl {
    padding-left: calc(sidebar.$width + units.$unit * 4);
    padding-right: calc(units.$unit * 4);
  }
}

.container {
  @include container.container;
}

.main {
  padding: calc(units.$unit * 3) 0;
}

.tasks_page {
  display: flex;
  flex-direction: column;
  gap: units.$unit * 3;
}

.tasks_list {
  display: flex;
  flex-direction: column;
  gap: units.$unit * 2;
}

.levitate_wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.levitate_wrap_button {
  display: block;
  z-index: 80;
  position: fixed;
  bottom: units.$unit * 5;
  right: units.$unit * 5;

  @include breakpoints.screen-xs {
    display: block;
  }
  @include breakpoints.screen-xl {
    display: none;
  }
}
