@use "../../styles/units.module";
@use "../../styles/colors.module";
@use "../../styles/typography.module";

.layout {
  padding: calc(units.$unit * 3);
  display: flex;
  flex-direction: column;
}

.card_title {
  @include typography.h3;
  color: colors.$primary;
}

.card_top {
  margin-bottom: units.$unit * 3;
}
